:root {
  --background: #f2f7f2;
  --foreground: #001e00;
  --card: #ffffff;
  --card-foreground: #001e00;
  --popover: #ffffff;
  --popover-foreground: #001e00;
  --primary: #14a800;
  --primary-foreground: #ffffff;
  --secondary: #108a00;
  --secondary-foreground: #ffffff;
  --muted: #e4ebe4;
  --muted-foreground: #5e6d55;
  --accent: #9deeb3;
  --accent-foreground: #001e00;
  --destructive: #f14225;
  --destructive-foreground: #ffffff;
  --border: #becbcb;
  --input: #becbcb;
  --ring: #14a800;
  --chart-1: #b71c1c;
  --chart-2: #556b2f;
  --chart-3: #4682b4;
  --chart-4: #ff6f00;
  --chart-5: #8d6e63;
  --sidebar: #b0b0b0;
  --sidebar-foreground: #1f1f1f;
  --sidebar-primary: #b71c1c;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #4682b4;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #505050;
  --sidebar-ring: #b71c1c;
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
    0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
    0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
    0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
    0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.4),
    0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1);
}

.dark {
  --background: #181818;
  --foreground: #e0e0e0;
  --card: #181818;
  --card-foreground: #ffffff;
  --popover: #181818;
  --popover-foreground: #e0e0e0;
  --primary: #14a800;
  --primary-foreground: #ffffff;
  --secondary: #14a800;
  --secondary-foreground: #333333;
  --muted: #252525;
  --muted-foreground: #a0a0a0;
  --accent: #333333;
  --accent-foreground: #ffffff;
  --destructive: #c70e05;
  --destructive-foreground: #000000;
  --border: #4a4a4a;
  --input: #4a4a4a;
  --ring: #e53935;
  --chart-1: #950a04;
  --chart-2: #195719;
  --chart-3: #024997;
  --chart-4: #7b6e05;
  --chart-5: #61d161;
  --sidebar: #141414;
  --sidebar-foreground: #e0e0e0;
  --sidebar-primary: #e53935;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #64b5f6;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #4a4a4a;
  --sidebar-ring: #e53935;
  --font-sans: Inter, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 2px 4px -1px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 4px 6px -1px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 8px 10px -1px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
}
